        <div class="page">
            <div class="header row">
                ${areas['header']}
            </div>
            <div class="row">
                <h3>${modelTitle}</h3>
            </div>

            <div class="row">
                <div class="three column">
                    <h4 class="blue">Werkfactoren</h4>
                    <div class="model">
                        ${areas['ivs']}
                    </div>
                </div>
                <div class="three column">
                    <div class="arrow">
                    </div>
                    <div class="arrowbox">
                        ${areas['arrowbox']}
                    </div>
                </div>
                <div class="three column">
                    <h4 class="blue">Werkuitkomsten</h4>
                    <div class="model">
                        ${areas['dvs']}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="center column">
                    <h4 class="center blue">Vitaliteit</h4>
                    <div class="center model">
                        <p>Deze thema's sluiten aan bij de vitale medewerker en
                        vitale teams.</p>
                        <ul class="center">
                            <li>Gezondheid</li>
                            <li>Bevlogenheid/betrokkenheid</li>
                            <li>Samenwerken</li>
                            <li>Veerkracht</li>
                            <li>Trots</li>
                            <li>Vakmanschap</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
